*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 550px;
  background: rgb(107, 165, 241);
  font: normal 15pt Arial;
  margin: auto;
}

header{
  color: #fff;
  text-align: center;
  margin: 30px;
}

section{
  background: #fff;
  border-radius: 10px;
  padding: 15px;
  width: 500px;
  margin: auto;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.7);
}

input[type='number']{
  width: 120px;
  vertical-align: middle;
  padding: 8px;
  text-align: center;
}

section div p{
  padding: 12px;
}

input[type='radio']{
  margin: 5px;
  width: 20px;
  height: 20px;
}

img{ 
    width: 170px;  
    height:170px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 2px 2px 10px #000000;
    display: block;
    margin: 20px auto;
}

div#res{
  text-align: center;
  margin-top: 15px;
}

.button{
  height: 60px;
  width: 450px;
  background: rgb(107, 165, 241);
  border-radius: 15px;
  font-size: 20pt ;
  font-weight: 600;
  line-height: 26px;
  color: #fff;
  cursor: pointer;
}

footer{
  color: #fff;
  text-align: center;
  font-style: italic;
  padding: 20px;
}
